Dear {{ provider_name }},

We could not process the submitted file because it failed validation.

File: {{ file_name }}
Report date: {{ report_date }}
Issue count: {{ issue_count }}

Correction details are available in the following folder:
{{ metadata_directory }}

Please correct the file and resubmit it.

Regards,
