<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Provider File Requires Correction</title>
</head>
<body style="font-size: 14px;">
  <p style="color: #000;">Dear {{ provider_name }},</p>

  <p style="color: #000;">
    We could not process the submitted file because it failed validation.
  </p>

  <p style="color: #000;">
    File: {{ file_name }}<br>
    Report date: {{ report_date }}<br>
    Issue count: {{ issue_count }}
  </p>

  <p style="color: #000;">
    Correction details are available in the following folder:<br>
    {{ metadata_directory }}
  </p>

  <p style="color: #000;">
    Please correct the file and resubmit it.
  </p>

  <p style="color: #000;">Regards,<br><br></p>
</body>
</html>
